
        body {
            background-color: #0f162e;
        }
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .login-container h2 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
            
        }
        .form-group label {
            font-weight: 500;
        }
        .form-control {
            border-radius: 5px;
            
            
        }
        .btn-login {
            background-color: #0f162e;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 500;
        }
        .btn-login:hover {
            color: #eb0c0c;
            background-color: #0f162e;
        }
        
    